<div class="container">
  <div class="card border border-info mb-2">
    <div class="p-3">
      <h4 class="d-inline-block">{{ movie.title }}</h4>

      <ng-container *ngIf="!loading; else loadingSpinner">
        <button class="btn btn-danger float-right" (click)="deleteMovie(movie.id)">Delete</button>
      </ng-container>

      <ng-template #loadingSpinner>
        <div *ngIf="loading" class="spinner-border float-right">
          <span class="sr-only">Loading...</span>
        </div>
      </ng-template>

    </div>
  </div>
</div>
