<div class="container">
  <div class="row">
    <div class="col-12 border border-success">
      <form (ngSubmit)="addMovie()">
        <div class="p-4">
          <input class="w-75 mr-3 form-control-md" type="text" [(ngModel)]="titleMovie" name="titleMovie">
          <button class="btn btn-success" type="submit" [disabled]="loadingButton"> Add
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" *ngIf="loadingButton"></span>
          </button>
        </div>
      </form>
      <h3>To watch films:</h3>
      <ng-container *ngIf="!loading; else loadingSpinner">
        <app-movie-item *ngFor="let movie of movies"
                        [movie]="movie"></app-movie-item>
      </ng-container>

      <ng-template #loadingSpinner>
        <div *ngIf="loading" class="spinner-border">
          <span class="sr-only">Loading...</span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
